body {
  font-family: Raleway;
  margin: auto;
}

.bold-span{
  font-weight: bold;
}

#nav1{
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#nav1, #nav-text-sign-up{
  float: right;
}

#nav-text-sign-up{
  color: #0065FC;
}

.nav-text{
  padding: 20px;
  color: black;
  text-decoration: none;
  border: 1px solid white;
}

.nav-text:hover{
  border: 5px solid rgb(20, 100, 220);
  color: rgb(20, 100, 220);
  border-bottom: white;
  border-right: white;
  border-left: white;
}

#img1{
  margin-left: 15px;
  margin-right: 15px;
  float: left;
}

#p1{
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;
  margin-bottom: -10px;
  clear: both;
}

#p2{
  margin-left: 15px;
  margin-right: 15px;
}

#p3{
  font-weight: bold;
  font-size: large;
}

#search-div{
  margin: 15px;
  display: flex;
  align-items: stretch;
}

#search-icon{
  background-color: #F2F2;
  padding: 7px 15px 9px 15px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  z-index: 4;
}

#search-bar{
  padding: 5px 5px 5px 5px;
  border-color: #F2F2;
  z-index: 1;
}

#search-button{
  color: white;
  background-color: #0065FC;
  border: #0065FC;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
  padding: 8px 15px;
}

.logo-list{
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
}

#logo-true-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#search-logo-button{
  display: none;
}

.filter-hover:hover{
  color: #0065FC;
  border: 1px dashed #0065FC;
  border-radius: 100px;
  background-color: ghostwhite;
}

.filter-hover{
  display: flex;
  align-items: baseline;
}

.logo{
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
  margin-left: 12px;
  margin-right: -50px;
  z-index: 2;
}

.logo-text{
  white-space: nowrap;
  font-weight: bold;
  border: thin solid lightgray;
  border-left-width: 0px;
  border-radius: 17px;
  padding: 8px 8px 8px 27px;
  z-index: 1;
  margin-right: 20px;
  margin-left: 25px;
}

#logo-info-with-text{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 10px 10px 10px 10px;
}

#logo-info-with-text-text{
  padding: 10px 10px 10px 10px;
}

.logo-info-with-text-logo{
  color: #0065FC;
  border: thin solid grey;
  padding: 5px 10px 5px 10px;
  border-radius: 17px;
}

.logo-star{
  color: #0065FC;
}

#accommodations-in-marseille-h3{
  margin: 20px;
}

#accommodations-in-marseille-container{
  width: fit-content;
  padding: 20px 20px 40px 20px;
  margin-right: 20px;
  border: 5px solid white;
  border-radius: 20px;
  background-color: #F2F2;
}

.accommodations-in-marseille-card-container{
  margin: 5px;
  border: 5px solid white;
  background-color: white;
  border-radius: 20px;
  padding: 3px;
  box-shadow: 0px 3px 20px lightgrey;
}

#accommodations-in-marseille{
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 15px;
  align-content: center;
  justify-content: baseline;
}

#p-city-logo-text{
  display: block;
}

.accommodations-in-marseille-image{
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.accommodations-in-marseille-text-card{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}

#accommodations-in-marseille-show-more{
  color: black;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  font-size: large;
}

.p-card{
  margin-top: -15px;
  margin-bottom: 5px;
}

.most-popular-title{
  display: inline;
  justify-content: space-around;
}

#chart{
  float:right;
}

#most-popular-container{
  margin-left: 20px;
  padding: 20px;
  width: fit-content;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #F2F2;
}

#most-popular-image-container{
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.most-popular-image-card-container{
  display: flex;
  flex-direction: row;
  margin: 5px;
  margin-top: 20px;
  border: 5px solid white;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 33%;
  padding: 3px;
  box-shadow: 0px 3px 20px lightgrey;
}

.most-popular-image{
  width: 200px;
  height: 170px;
  object-fit: cover;
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.most-popular-next-to-image{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#span-space{
  color: white;
}

aside{
  margin-left: 15px;
  margin-right: 15px;
  clear: both;
}

#section-activities-in-marseille{
  margin-left: 15px;
  margin-right: 15px;
}

.activities-in-marseille-header{
  float: left
}

.activities-in-marseille-image-card-header{
  padding-left: 10px;
}

#activities-in-marseille-image-container{
  clear: both;
  justify-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.activities-in-marseille-image-card-container-main{
  float: left;
  width: 23%;
  margin: 0.9%;
}

.activities-in-marseille-image-card-container{
  border: 1px solid #F2F2;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 20px lightgrey;
}

.activities-in-marseille-image-card-container-2{
  columns: 1;
}

.activities-in-marseille-image{
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.activities-in-marseille-image-long{
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#section-1{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
  margin-left: 15px;
  margin-right: 15px;
}

main {
  flex-basis: 75%;
}

aside {
  flex-basis: 25%;
}

footer{
  clear: both;
  margin: auto;
  width: 100%;
}

#footer-text{
  clear: both;
  background-color: #F2F2;
  background-position: center center;
  justify-content: baseline;
  display: grid;
  grid-template: repeat(4, 15%)/ repeat(3, 30%);
  padding: 25px 15px 0px 15px;
  margin-top: 30px;
}

@media screen and (max-width : 1980px){
  #accommodations-in-marseille{
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

@media screen and (max-width: 1749px){
  .most-popular-image-card-container{
    flex-direction: column;
    min-width: 200px;
  }
  .most-popular-image{
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    width: 100%;
  }
}

@media screen and (max-width: 768px){
  body{
    font-size: larger;
  }
  #p1{
    font-size: larger;
  }
  .p1-vacation{
    display: unset;
  }
  #nav1{
    justify-content: unset;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-text{
    float: none;
  }
  .nav-class{
    border: 1px #F2F2 solid;
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .nav-class:hover{
    border: 1px #0065FC solid;
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
  }
  #nav-text-sign-up{
    float: right;
  }
  #search-logo-button{
    display: initial;
  }
  #search-button-text{
    display: none;
  }
  #search-button{
    border-radius: 11px;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    margin-left: -10px;
    padding-right: 10px;
    padding-left: 10px;
    z-index: 4;
  }
  #p3{
    margin-left: 15px;
  }
  .logo-list{
    display: unset;
  }
  #section-1{
    display: grid;
    margin-left: 0px;
    margin-right: 0px;
    grid-template-columns: auto;
  }
  #accommodations-in-marseille-h3{
    font-size: x-large;
  }
  #accommodations-in-marseille{
    display: flex;
    flex-direction: column;
  }
  #accommodations-in-marseille-container{
    background-color: white;
    padding: 20px 0px 40px 0px;
    border: 0px solid white;
    margin: 0px;
  }
  #most-popular-container{
    width: auto;
    grid-row: 1;
    border-radius: 0px;
    margin-left: 0px;
    border: 0px;
    padding: 40px 20px 40px 20px;
  }
  .most-popular-image-card-container{
    display: grid;
    grid-template-columns: 45% 55%;
  }
  .most-popular-image{
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    max-width: 100%;
    max-height: 100%;
  }
  .most-popular-next-to-image{
    font-size: initial;
  }
  #activities-in-marseille-image-container{
    display: flex;
    flex-direction: column;
  }
  #activities-in-marseille-image-container{
    column-count: 1;
  }
  #accommodations-in-marseille-show-more{
    font-size: x-large;
  }
  .activities-in-marseille-image-card-container-main{
    width: 100%;
    margin: 13.5px 0px 13.5px 0px;
  }
  .activities-in-marseille-image{
    height: 150px;
  }
  .activities-in-marseille-image-long{
    height: 150px;
  }
  #p-city-logo-text{
    display:inline;
  }
  #footer-text{
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-areas: "about" "site" "general" "data" "accommodations" "quality" "you" "assistance" "help1" "contact"; 
    grid-template-rows: 9% 9% 9% 13% 9% 9% 13% 9% 9%;
  }
  #footer-about{
    grid-area: about;
  }
  #footer-site{
    grid-area: site;
  }
  #footer-general{
    grid-area: general;
  }
  #footer-data{
    grid-area: data;
  }
  #footer-accommoddations{
    grid-area: accommodations;
  }
  #footer-quality{
    grid-area: quality;
  }
  #footer-you{
    grid-area: you;
  }
  #footer-assistance{
    grid-area: assistance;
  }
  #footer-help{
    grid-area: help1;
  }
  #footer-contact{
    grid-area: contact;
  }
}