body {
  font-family: Raleway;
}

#nav1{
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-text{
  padding: 20px;
  color: black;
  text-decoration: none;
}

.nav-text:hover{
  border: 5px solid rgb(20, 100, 220);
  color: rgb(20, 100, 220);
  border-bottom: white;
  border-right: white;
  border-left: white;
}

#img1{
  float: left;
}

#p1{
  font-weight: bold;
  font-size: large;
}

#p3{
  font-weight: bold;
  font-size: large;
}

#search-div{
  display: flex;
  align-items: baseline;
}

#search-icon{
  background-color: lightgrey;
  padding: 7px 15px 9px 15px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#search-bar{
  padding: 5px 5px 5px 5px;
}

#search-button{
  color: white;
  background-color: #0065FC;
  border: #0065FC;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
  padding: 8px 15px;
}

.logo-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 40%;
  align-items: baseline;
  justify-content: space-between;
}

.logo{
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
}

.logo-text{
  font-weight: bold;
  border: thin solid lightgray;
  border-left-color: white;
  border-radius: 17px;
  padding: 5px 5px 5px 25px;
}

#logo-info-with-text{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 10px 10px 10px 10px;
}

#logo-info-with-text-text{
  padding: 10px 10px 10px 10px;
}

.logo-info-with-text-logo{
  color: #0065FC;
  border: thin solid grey;
  padding: 5px 10px 5px 10px;
  border-radius: 17px;
}

footer{
  background-color: #F2F2;
  background-position: center center;
  border: 60px solid white;
  border-right-width: 1fr;
  border-left-width: 1fr;
  justify-content: center;
  display: grid;
  grid-template: repeat(4, 15%)/ repeat(3, 30%);
}

.footer-Title{
  font-weight: bold ;
}