body {
  font-family: Raleway;
}

.bold-span{
  font-weight: bold;
}

#nav1{
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-text{
  padding: 20px;
  color: black;
  text-decoration: none;
}

.nav-text:hover{
  border: 5px solid rgb(20, 100, 220);
  color: rgb(20, 100, 220);
  border-bottom: white;
  border-right: white;
  border-left: white;
}

#img1{
  float: left;
}

#p1{
  font-weight: bold;
  margin-bottom: -10px;
}

#p3{
  font-weight: bold;
  font-size: large;
}

#search-div{
  display: flex;
  align-items: baseline;
}

#search-icon{
  background-color: lightgrey;
  padding: 7px 15px 9px 15px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#search-bar{
  padding: 5px 5px 5px 5px;
}

#search-button{
  color: white;
  background-color: #0065FC;
  border: #0065FC;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
  padding: 8px 15px;
}

.logo-list{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}

.logo{
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
  margin-left: 12px;
  margin-right: -50px;
  z-index: 2;
}

.logo-text{
  font-weight: bold;
  border: thin solid lightgray;
  border-left-width: 0px;
  border-radius: 17px;
  padding: 8px 8px 8px 27px;
  z-index: 1;
  margin-right: 20px;
  margin-left: 25px;
}

#logo-info-with-text{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 10px 10px 10px 10px;
}

#logo-info-with-text-text{
  padding: 10px 10px 10px 10px;
}

.logo-info-with-text-logo{
  color: #0065FC;
  border: thin solid grey;
  padding: 5px 10px 5px 10px;
  border-radius: 17px;
}

.logo-star{
  color: #0065FC;
}

#accommodations-in-marseille-h3{
  margin: 20px;
}

#accommodations-in-marseille-container{
  width: fit-content;
  padding: 20px 20px 40px 20px;
  margin-right: 20px;
  border: 5px solid white;
  border-radius: 20px;
  background-color: #F2F2;
}

.accommodations-in-marseille-card-container{
  margin: 5px;
  border: 5px solid white;
  background-color: white;
  border-radius: 20px;
  padding: 3px;
  box-shadow: 0px 3px 20px lightgrey;
}

#accommodations-in-marseille{
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 31%);
  grid-template-rows: repeat(2, 48%);
  grid-column-gap: 35px;
  grid-row-gap: 15px;
  align-content: center;
  justify-content: baseline;
}

#p-city-logo-text{
  display: block;
}

.accommodations-in-marseille-image{
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.accommodations-in-marseille-text-card{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}

#accommodations-in-marseille-show-more{
  color: black;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  font-size: large;
}

.p-card{
  margin-top: -15px;
  margin-bottom: 5px;
}

.most-popular-title{
  display: inline;
  justify-content: space-around;
}

#chart{
  float:right;
}

#most-popular-container{
  margin-left: 20px;
  padding: 20px;
  width: fit-content;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #F2F2;
}

#most-popular-image-container{
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.most-popular-image-card-container{
  display: flex;
  flex-direction: row;
  margin: 5px;
  margin-top: 20px;
  border: 5px solid white;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 33%;
  padding: 3px;
  box-shadow: 0px 3px 20px lightgrey;
}

.most-popular-image{
  width: 175px;
  height: 170px;
  object-fit: cover;
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.most-popular-next-to-image{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.most-popular-card{
  margin-top: 25px;
  margin-bottom: 40px;
}

#span-space{
  color: white;
}

aside{
  clear: both;
}

.activities-in-marseille-header{
  float: left;
}

#activities-in-marseille-image-container{
  clear: both;
  justify-items: baseline;
  column-count: 4;
  column-width: 25%;
  column-gap: 2%;
}

.activities-in-marseille-image{
  width: 100%;
  height: 22%;
  object-fit: cover;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.activities-in-marseille-image-long{
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.activities-in-marseille-image-card-container{
  width: fit-content;
  height: fit-content;
  border: 1px solid #F2F2;
  border-radius: 20px;
  box-shadow: 0px 2px 10px lightgrey;
}

.activities-in-marseille-image-card-header{
  padding-left: 7px;
}

.activities-in-marseille-image-card-container-column-1{
  margin-top: 20px;
}

.activities-in-marseille-image-card-container-column-2{
  margin-top: 20px;
}

#section-1{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

section:nth-of-type(1) {
  flex-basis: 75%;
}

section:nth-of-type(2) {
  flex-basis: 25%;
}

footer{
  clear: both;
  background-color: #F2F2;
  background-position: center center;
  background-size: cover;
}

#footer-text{
  justify-content: baseline;
  display: grid;
  grid-template: repeat(4, 15%)/ repeat(3, 30%);
  padding: 25px 0px 0px 0px;
  margin-top: 30px;
}

.footer-Title{
  font-weight: bold ;
}

@media screen and (max-width: 768px){
  #section-1{
    display: unset;
  }
  #accommodations-in-marseille{
    display: flex;
    flex-direction: column;
  }
  #accommodations-in-marseille-container{
    background-color: white;
  }
  #activities-in-marseille-image-container{
    display: flex;
    flex-direction: column;
  }
  #activities-in-marseille-image-container{
    column-count: 1;
  }
  .p1-vacation{
    display: block;
  }
  #p-city-logo-text{
    display:inline;
  }
  .nav-text{
    display: none;
    float: none;
  }
  #sign-up-text-nav{
    float: right;
  }
  .nav-class{
    display: flex;
    flex-direction: column;
  }
  #nav1{
    display: flex;
    flex-direction: row;
  }
}